@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');

*{
    font-family: 'Belanosima', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(360deg, #ffffff, #dedbff,#b8b9ff,  #8999ff,#407bff );
}

#menu-container{
    width: 100%;
    height: 100px;
    display: flex;
}

.menu-mobile-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(360deg, #ffffff, #dedbff,#b8b9ff,  #8999ff,#407bff );
}

.hidden{
    display: none;
}

#menu{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 4rem;
}

#navigate-mobile{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 5rem;
}

#navigate-mobile ul{
    height: 50%;
    display: flex;
    flex-direction: column;
}

#navigate-mobile li{
    font-size: 22px;
    transition: 0.5s;
}
#menu-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    color: #000;
    cursor: pointer;
    font-size: 1rem;
}

#navigate{
    width: 55%;
    display: flex;
    display: none;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    color: #000;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}

li:hover,
#navigate-mobile li:hover{
    transform: scale(1.04);
}

.hamburguer-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
}

.hamburguer-icon img{
    width: 20px;
}

#main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 10%;
}

#main-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

h4{
    color: #396fe4;
    text-align: center;
}

h2{
    color: #396fe4;
    text-align: center;
    padding: 0 0 1rem 0;
    text-decoration: underline;
}

#main-content div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5% 0;
}

.button{
    padding: 0 1rem 0 1rem;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-image: linear-gradient(90deg, #5282ff, #748fff, #8e9cff, #a4aaff, #b8b9ff);    color: #000;
    border: 1px solid #dbdada;
    box-shadow: 0 0 1px 0 #dbdada;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover{
    transform: scale(1.05);
    color: #fff;
}

#ilustration img{
    margin-left: 10%;
    width: 100%;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#options-container{
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffcfc;
}

#options-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options-content h2{
    color: #396fe4;
    text-align: center;
}

#options-content p{
    color: #4e7ee7;
    padding: 0 0 1rem 0;
    text-align: center;
}

#cards-menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.card{
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: #b8b9ff;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px #8e90ff ;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
}

.icon-container{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px 5px;
    background-color: #fff;
}

.card span{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 1rem;
    color: #fff;
    font-size: 18px;
}

#more-info{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

#more-info img{
    width: 200px;
}

#text{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3362cc;
    border-radius: 5px;
}

#text-content{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
}

#text-content h3{
    color: #fff;
    padding-left: 0.5rem;
}

#text p{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 0 1rem 0;
    
}

footer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c3c3c3;
}

footer div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer button{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
}

.icon-footer{
    width: 50px;
    height: 50px;
    background-color: #000;
    font-size: 20px;
    animation: top 3s infinite;
}


#copyrigth{
    width: 100%;
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes top {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}



@media (min-width:600px){
    #main-container{
        padding-top: 2rem;
    }

    .button{
        width: 100px;
        height: 40px;
    }

    #cards-menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        width: 90%;
        margin-left: 1rem;
    }

    #more-info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #more-info img{
        width: 300px;
    }

    #text{
        width: 60%;
    }

    #navigate{
        display: flex;
    }

    .hamburguer-icon{
        display: none;
    }   
}

@media (min-width:1023px){
    #navigate li{
        font-size: 20px;
    }

    #main-content{
        width: 40%;
    }

    #options-content{
        width: 50%;
    }

    #text{
        width: 40%;
    }
}